.modalWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

.modal {
    min-width: 400px;
    min-height: 400px;
    background-color: #ffffff;
    padding: 40px;
    opacity: 1;
    position: relative;
}

.modalClose {
    opacity: 0;
    pointer-events: none;
}

.modalBuilding {
    
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.formTitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.formItem {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.splitFormItem {
    flex-direction: row;
    justify-content: space-between;
}

.formInput {
    border-bottom: 1px solid gray;
    padding: 5px;
    margin-top: 10px;
}

.coordinatesInputs {
    display: flex;
    gap: 20px;
}

.saveButton {
    width: 100%;
    max-width: 200px;
    border-radius: 50px;
    border: 2px solid gray;
    padding: 10px 20px;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
}

.submitButtons {
    display: flex;
    gap: 20px;
    justify-content: center;
}



.closeButtonWrapper {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

.closeButton::before, .closeButton::after {
    content: '';
    display: block;
    width: 4px;
    height: 25px;
    background-color: gray;
    border-radius: 25px;
    position: absolute;
}

.closeButton::before {
    rotate: 45deg;
}

.closeButton::after {
    rotate: -45deg;
}



.responseWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 1;
    transition: .2s;
}

.responseWrapper span {
    font-size: 30px;
}

.responseWrapperHidden {
    opacity: 0;
    pointer-events: none;
}
